$fontcolor:  rgb(10%, 10%, 10%);
$backgroundcolor: rgb(98%, 98%, 98%);


body {
  font-family: "Roboto", sans-serif;
  color: $fontcolor;
  background-color: $backgroundcolor;
  margin: 50px;
}


#search-bar {
  margin-bottom: 20px;

  input {
    font-size: 1.5em;
    border-radius: 0.25em;
  }
}


#video-section {
  display: flex;
  justify-content: space-between;

  li {
    list-style: none;
    cursor: pointer;
    display: flex;
    width: 25vw;
    padding: 10px;
    margin: 10px;
    border: 2px solid #8B0000;
    border-radius: 1em;
  }
  li:hover {
    background: darken( $backgroundcolor, 10% );
  }

  .detailSection {
    display: flex;
    justify-content: space-around;
    flex-direction: column;

    .details {
      margin-top: 2em;
      padding: 10px;
      border-top: 4px solid #8B0000;
      font-size: 1.8em;
    }
  }

}
